body{
    margin:0px;
    max-height:100vmax;
    font-family: square-font;
    background-color: rgb(97, 193, 218);
}

#bot-selection{
    height:50vmax;
}

#campo-de-juego{
    display:flex;
    flex-direction:column;
}

#container{
    justify-content: space-around;
    display:flex;
    flex-direction:row;
}

#display{
    width:70vmin;
    height:70vmin;
    display:flex;
}

.full-row{
    margin-bottom:10px;
    justify-content:space-around;
    width:100vmin;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.objeto{
    --porcentaje: 67%;
    position:absolute;
    width: var(--porcentaje);
}

#opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:70vmin;
}

.opcion{
    display:flex;
    justify-content:center;
    padding:2vmin;
    height:15vmin;
    width:15vmin;
    margin: 1vmin;
}

.opcion-oculta{
    transform:translateX(25vmin);
    box-shadow:none;
}

.opcion text{
    transform: translate(3em,3em);
}

#overlays{
    font-size: 15vmin;
}

.overlay span{
    transform: translateY(-6vmin);
}

.titulo{
    width:100vw;
    font-size:5vmin; 
    height:6vmin;
    display: flex;
    justify-content:center;
    background: green;
}